<% include ../partials/header %>
<div class="container">
    <h1 style="text-align: center">Edit <%= campground.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT", method="POST">
            <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" style="margin: 20px;">
            <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>" style="margin: 20px;">
            <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>" style="margin: 20px;">

            <label for="location" style="margin: 20px;">Location</label>
            <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" style="margin: 20px;">

            <button class="btn btn-lg btn-info btn-block" style="margin: 20px;">Submit!</button>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>