<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">  
                <div class="thumbnail">
                   
                    <img src="<%= campground.image %>" height="60%">
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>
                    </div>
                    
                </div>
                
<!-- 
            <div class="card" style="width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <p class="card-text"><%= campground.name %></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div> -->

        <% }); %>
    </div>

</div>

<% include partials/footer %>